<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/style/index.css">
    <title>神 · 诞生区域图</title>
    <style>
        body {
            background-color: #231F20;
            color: white;
        }

        .map {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <ul class="nav">
        <li><a href="nickName.html"><img src="../assets/img/nav/white3.png" width="50" alt=""></a></li>
        <li><a href="nation.html"><img src="../assets/img/nav/white1.png" width="50" alt=""></a></li>
        <li><a href="mythRegion.html"><img src="../assets/img/nav/orange2.png" width="50" alt=""></a></li>
        <li><a href="production.html"><img src="../assets/img/nav/white4.png" width="50" alt=""></a></li>
        <li><a href="../index.html"><img src="../assets/img/nav/white5.png" width="50" alt=""></a></li>
    </ul>

    <div class="background">
        <img src="../assets/img/texture.png" />
    </div>

    <div class="map"></div>
    <script src="../lib/d3.js"></script>
    <script type="module" src="../script/mythRegion/index.js"></script>
</body>

</html>