<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../lib/p5.js"></script>
    <!-- 调用外部js文件 -->
    <link rel="stylesheet" type="text/css" href="../assets/style/index.css">
    <!-- 引入外部css文件 -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>神 · 流传演变图</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 定义该网页使用的编码是utf-8 -->
    <style>
        body {
            display: block;
            width: 2137px;
            max-width: 2137px;
            background-color: black;
        }
    </style>
</head>

<body>
    <script src="../script/nickName/index.js"></script>
    <!-- 调用外部js文件 -->
    <!-- 为了能只用一个index文件 -->
    <!--  以后每换一个文件记得把这个上面的src改了…… -->
    <!-- <div></div> -->

    <ul class="nav">
        <li><a href="nickName.html"><img src="../assets/img/nav/orange3.png" width="50" alt=""></a></li>
        <li><a href="nation.html"><img src="../assets/img/nav/white1.png" width="50" alt=""></a></li>
        <li><a href="mythRegion.html"><img src="../assets/img/nav/white2.png" width="50" alt=""></a></li>
        <li><a href="production.html"><img src="../assets/img/nav/white4.png" width="50" alt=""></a></li>
        <li><a href="../index.html"><img src="../assets/img/nav/white5.png" width="50" alt=""></a></li>
    </ul>
    <div style="width: 100%; height:70px;"></div>
</body>

</html>